
.container-dashboard{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-content {
    display: flex;
    flex: 1;
    height: calc(100vh - 60px);
}

.dark .main-content{
    background: #000;
}