
.home-width{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.text-head{
    margin-bottom: 25px;
}
.submitButton {
  width: 100%;
  background-color: #007bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0 0 0;
  min-height: 56px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.submitButton:hover {
  background-color: #007bff;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .submitButton {
    padding: 16px 44px;
  }
}
.switchButton{
    background: none;
    border: none;
    padding-left: 0px;
    text-decoration: underline;
    color: #007bff;
}
.switchButton:hover{
    background: none;
    border: none;
    color: #007bff;
}
.bg-grid{
    box-shadow: 2px 0px 3px #fff;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
.home{
    background-color: #e6e6e6;
    height: 100vh;
}
.innerBox{
    width: 600px;
    margin: 20px auto;
}
.dark .home{
    background-color: #242121;
}
.homelogo {
  width: 300px;   
  height: 90px;
  background-image: url("../../assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}

.dark .homelogo {
  background-image: url("src/assets/darklogo.png");
}

